body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-graph{
  display: flex;
  justify-content: space-between;
  
}
.id-node{
  margin-right:20px;
  text-align: left;
  width:15px;
}

.graph {
  display:flex;
  flex-direction: column;
}

.node-p-id{
  width:0;
}
.node-unit{
  width:100%;
  padding-left: 15px;
}
input {
  width: auto;
  height: 20px;
  font-size: 16px;
  margin-right: 15px;
}
.input-node{
  display: flex;
  align-items: center;
}
.input-node-title{
  display : flex;
}
.input-node-title  p  {
    margin-right:15px;
}